services:
  backend:
    build: ./backend
    container_name: wynntracker-backend
    restart: unless-stopped
    environment:
      - TZ=Europe/Berlin
      # do not change this path
      - DATABASE_URL=sqlite:////data/wynntracker.db
      - ONLINE_THRESHOLD_MINUTES=15
      # do not change this path
      - PARQUET_MIGRATION_PATH=/migration.parquet
    volumes:
      # [ADJUST HERE] path to the data folder on the host machine
      - ./data/misc/other_data/wynntracker:/data
      # [ADJUST HERE] path to the parquet file on the host machine
      - ./character_stats.parquet:/migration.parquet
    networks:
      - wynntracker

  frontend:
    build: ./frontend
    container_name: wynntracker-frontend
    restart: unless-stopped
    ports:
      # [ADJUST HERE] port mapping: "HOST_PORT:CONTAINER_PORT"
      - "3955:80"
    environment:
      - VITE_ONLINE_THRESHOLD_MINUTES=15
    depends_on:
      - backend
    networks:
      - wynntracker

networks:
  wynntracker:
    driver: bridge
